{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed Books</h1>

    {% if bookinstance_list %}
    <table id="borrowed">
      <tr>
          <th>Book Title</th>
          <th>Due Date</th>
      </tr>
      <tr>
        {% for bookinst in bookinstance_list %}
        <td class="{% if bookinst.is_overdue %}text-danger{% endif %}"><a
          href="{% url 'book_detail' bookinst.book.pk %}">{{bookinst.book.title}}</a></td>
        <td>{{ bookinst.due_back }}</td>
      </tr>
      {% endfor %}
  </table>
    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}